@import 'tailwindcss';
@import './color.css';
@import url('');

/*font*/
@font-face{
  font-family: 'Iropke Batang';
  src: url('/src/assets/fonts/IropkeBatangM.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

